<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appbanhang_admin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.ChiTietDonHang"
            android:exported="false" />
        <activity
            android:name=".activity.CapNhapSanPham"
            android:exported="false"
            android:label="@string/title_activity_cap_nhap_san_pham"
            android:theme="@style/Theme.Appbanhang_admin.NoActionBar" />
        <activity
            android:name=".activity.ThemSanPham"
            android:exported="false"
            android:label="@string/title_activity_them_san_pham"
            android:theme="@style/Theme.Appbanhang_admin.NoActionBar" />
        <activity
            android:name=".activity.TrangChu"
            android:exported="false" />
        <activity
            android:name=".activity.DangNhap"
            android:exported="false" />
        <activity
            android:name=".activity.DangKi"
            android:exported="true"
            >

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>